.App {
  text-align: center;
}

#Intro {
  position: absolute;
  width: 1725px;
  height: 1080px;
  left: calc(50% - 1920px/2);
  top: 0px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 0.05%, rgba(255, 255, 255, 0) 0.05%, rgba(255, 255, 255, 0) 9.38%);
}

#Main {
  position: absolute;
  width: auto;
  height: auto;
  left: 405px;
  top: 0px;
}

/* #photo{
  position: relative;
  width: auto;
  height: 942px;
  left: 549.2px;
  top: 0px;
} */

#content {
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 60px;
  display: flex;
  flex-direction: row !important;
  justify-content: left;
  flex-flow: wrap;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #content>* {
    align-items: flex-start;
    margin-top: 100px;
  }
}

/* @media screen and (max-width >= 1200px) {
  #content{
    flex-direction: row ;
  }
  #photo{
    width: 40%;
  }

} */

/* @media screen and (max-width <= 600px) {
  #content{
    flex-direction: column;
  }
  #photo{
    width: 30%;
    justify-content: center;
    
  }
  #content-text h1{
    font-size:60px;
  }
  
} */

#text {
  position: relative;
  width: 109px;
  height: 36px;
  left: 0px;
  top: 0px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #707070;
}

#name {
  font-size: 200px;
  font-weight: 700;
  color: #ffc400;
  line-height: .8;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #ffc400, #e04700);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content-text h1 {
  font-size: 100px;
  font-weight: 700;
  color: #ffc400;
  line-height: 1.09;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #ffc400, #e04700);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1px;
  top: 20x;
  position: relative;
}

#content-text span {
  font-size: 36px;
  color: #707070;
  line-height: 1;
  position: relative;
}

#content-text {
  top: 100px;
  position: relative;
}

#About {
  position: absolute;
  width: 1110px;
  height: 388px;
  left: 202px;
  top: 650px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#slash-about {
  position: absolute;
  width: 1110px;
  height: 54px;
  left: 0px;
  top: 280px;
}

#slash-about1 {
  position: absolute;
  width: 134.4px;
  height: 46px;
  left: 0px;
  top: 6px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #242424;
}

#slash-about>* {


  position: absolute;
  width: 157.65px;
  height: 46px;
  left: 0px;
  top: 4px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #242424;
}


#about-experience {
  position: absolute;
  width: 967.33px;
  height: 115px;
  left: 107.48px;
  top: 115px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 2px;

  color: #BCBCBC;

}

#tech{
  position: absolute;
  width: 1110px;
  height: 788px;
  left: 202px;
  top: 1050px;
}

#technology{
  position: absolute;
  width: 1110px;
  height: 54px;
  left: 0px;
  top: 50px;
}

#tech-intro{
  position: absolute;
  width: 225.78px;
  height: 46px;
  left: 0px;
  top: 4px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #242424;
}

#technology2{
  position: absolute;
width: 1110px;
height: 54px;
left: 0px;
top: 684px;
}

#tech-intro2{
  position: absolute;
  width: 250.14px;
  height: 46px;
  left: 0px;
  top: 4px;
  
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  /* or 150% */
  
  display: flex;
  align-items: center;
  
  color: #242424;
  
}

#tech-stack{
  position: relative;
  height: 520px;
  left: 92.48px;
  right: 0.02px;
  top: 134px;
}
#tech-stacks{
  position: relative;
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  width: 1017.5px;
  height: 36px;
  left: 0px;
  top: 0px;
  margin-bottom: 16px;
}
#tech-stack-name{
  position: absolute;
  height: 36px;
  /* left: 0px;
  right: 763.12px; */
  top: 0px;
}
#text-stack-name{
  position: absolute;
  width: 69.15px;
  height: 25px;
  left: 71px;
  top: 5px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  display: flex;
  align-items: center;

  color: #BCBCBC;
}

#tech-stack-percentage{
  right:15px;
  position: absolute;
  width: 31.84px;
  height: 20px;
  top: 8px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #BCBCBC;
}

#tech-chart-for-every-stack{
box-sizing: border-box;

position: relative;
height: 13px;
right: 73.66px;
top: 10px;
display: flex;
justify-content: center;
border: 1px solid #272727;
border-radius: 50px;
}

/* #percentage{
  position: absolute;
  left: 1px;
  /* right: 101.88px; */
  /* top: 1px;
  bottom: 1px;

  background: linear-gradient(45deg, #FFC400 0%, #E04700 100%); */
/* } */ */

.item {
  top: 5px;
}

.puthusu{
  left:-25px;
}