.App {
  text-align: center;
}

#Intro{
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: calc(50% - 1920px/2);
  top: 0px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 0.05%, rgba(255, 255, 255, 0) 0.05%, rgba(255, 255, 255, 0) 9.38%);
}

#Main{
  position: absolute;
  width: 1110px;
  height: 1080px;
  left: 405px;
  top: 0px;
  background-color: blue;
}

#photo{
  position: absolute;
  width: 594px;
  height: 942px;
  left: 549.2px;
  top: calc(50% - 942px/2);
}

#content{
  position: absolute;
  width: 699.2px;
  height: 478px;
  left: 0px;
  top: calc(50% - 478px/2);
}

#text{
  position: absolute;
  width: 109px;
  height: 36px;
  left: 0px;
  top: 0px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #707070;
}

#name{
  font-size: 200px;
  font-weight: 700;
  color: #ffc400;
  line-height: .8;
  margin-bottom: 10px;
  background: linear-gradient(45deg,#ffc400,#e04700);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Intro Main h1{
    font-size: 200px;
    font-weight: 700;
    color: #ffc400;
    line-height: .8;
    margin-bottom: 10px;
    background: linear-gradient(45deg,#ffc400,#e04700);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}